body{
    margin:0;
    box-sizing: border-box;
    font-size: 16px;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07AF9B;
    color: white;
    padding: 0 1rem 0 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cartDetailsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#allItemContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 30rem;
    flex-grow: 7;
}
.emptyAllItemContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    color: red;
}

#cartItemCountAndCostContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    flex-grow: 3;
    max-height: 20rem;
    margin: 2rem;
    border: 0.2rem solid #07AF9B;
    background-color: #cbf0ea;
}



.yourCartText{
    position: relative;
    left: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem solid black;
    margin-bottom: 1rem;
}

.itemImage{
    flex-grow: 1;
    max-width: 10rem;
    max-height: 10rem;
    padding: 1rem;
}

.itemDescription{
    flex-grow: 4;
    max-width: 22rem;  
    padding: 1rem;  
}
.itemName{
    font-weight: bold;
    margin-top: 0;
    font-size: 1.5rem;
}


.itemCounterContainer{
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.counterButton{
    font-size: 1.5rem;
}
.itemCounter{
    text-align: center;
    max-width: 4rem;
    font-size: 1.5rem;
    margin-left: 0;
}


.itemPriceAndRemoveButtonContainer{
    flex-grow: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.totalPrice{
    font-size: 1.5rem;
    font-weight: bold;
}
.totalAndPerItemPriceContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
}
.removeButtonContainer{
    display: flex;
    flex-grow: 1;
    align-items: flex-end;  
}
.removeButton{
    background-color: transparent;
    color: red;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border: 0;
}
.removeButton:hover{
    background-color: red;
    font-weight: bold;
    color: white;
}


.removeButton:active,#proceedButton:active{
    background-color: black;
}

.totalCartValueContainer{
    display: flex;
    flex-direction: row;
}
.totalDescriptionText{
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.totalValue{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-grow: 1;
    font-size: 2rem;
    justify-content: flex-end;
    font-weight: bold;
    display: flex;
    align-items: center;
}
#totalCartCost{
    margin-left: 1rem;
}

.proceedButtonContainer
{
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
}
#proceedButton{
    background-color: #07AF9B;
    color: white;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}